<%- include('partials/head.ejs') %>





  <header>
    <h1>Snow hunters</h1>
    <h2>Skilocation Weather Forecast</h2>

  </header>
  <main>
    <section id="installBanner" class="banner">
      <button id="installBtn">Install app</button>
    </section>
    <section id="results">
      <ul id="listSkiAreas">
        <li>
          <p> We can not sync the actual weather forecast because you're offline </p>
        </li>
      </ul>
    </section>

  </main>

  <%- include('partials/footer.ejs') %>